body {


    .footer-ending{
        
        background-image: url('../images/bottom/backgroundAssistor.png');
    }


    
    .title-whoweare, .footer-works, .footer-touch, .footer-updates{
        font-size:12px;
        color:#FFF;
        margin-top:30px;

    }



    .footer-txt text{
        color:#a3b1bf;
        font-size:8px;
    }

    .who-txt{
        display:block;
        padding-top:20px;
    }

    .footer-rights{
        padding:40px 0 0 0 ;
    }

    .footer-navbar text{
        color:#a3b1bf;
        font-size:6px;
    }

    .footer-menu ul{
        list-style-type:none;
        float:left;
        overflow:hidden;

    }
     .footer-menu a{
        text-decoration: none;
     }
    .footer-menu li{
        float:left;
        padding-right:10px;
        padding-top:40px;
        font-size:8px;

    }
    
    .email-type{
        width: 300px;
        height: 50px;
        padding-right:100px;
        opacity:0.4;
        color:red;
    }

    .click-btn{
        position:absolute;
        top:10px;
        left:250px;
         margin-left: -45px;
         -webkit-appearance: none;
    }


   .footer-ending .work-display{
        width:285px;
        position:relative;
        a{
            i{
                margin-right:0;
                margin-bottom:0;
                height:85px;width:126px;
                display:inline-block;
                }
            &:nth-child(1) i{background-image: url('../images/bottom/4result.png');background-position: 0 0;}
            &:nth-child(2) i{background-image: url('../images/bottom/4result.png');background-position: 0 -95px;}
            &:nth-child(3) i{background-image: url('../images/bottom/4result.png');background-position: 0 -190px;}
            &:nth-child(4) i{background-image: url('../images/bottom/4result.png');background-position: 0 -285px;}

            }
        }


   .error-mes{
       height:30px;
   }


   .ending{
        background-image: url('../images/bottom/navbackground.png');
   }

    }
