body {


    .footer-ending{
        height:447px;
        background-image: url('../images/bottom/backgroundAssistor.png');
    }


    
    .footer-title p{
        font-size:12px;
        color:#FFF;
        margin-top:75px;

    }

    .footer-txt{
        height:259px;
    }

    .footer-txt text{
        color:#a3b1bf;
        font-size:8px;
    }

    .who-txt{
        display:block;
        padding-top:20px;
    }

    .footer-rights{
        padding:40px 0 0 0 ;
    }

    .footer-navbar text{
        color:#a3b1bf;
        font-size:6px;
    }

    .footer-menu ul{
        list-style-type:none;
        float:left;
        overflow:hidden;

    }
     .footer-menu a{
        text-decoration: none;
     }
    .footer-menu li{
        float:left;
        padding-right:10px;
        padding-top:40px;
        font-size:8px;

    }
    .mypre::after{
        content:"XXXXX";
    }
    .mypre::before{
        content:"AAAAAA"
    }
}
