$title-fontsize:38px;     $tittle-fontcolor:rgb(80,106,133);
$txt-fontsize:19px;        $txt-fontcolor:rgb(115,135,156);

body {

    .hire{
        
        background-color:#FFF;
    }

    .withus{
        height:200px;
    }


    .with-txt{
        height:200px;
    }

    .touch-btn{
        height:50px;
        margin-bottom:10px;
    }


    .withus-title{
        text-align:center;
        font-size:$title-fontsize;
        color:$tittle-fontcolor;
        line-height:45px;
        margin-top:130px;
    }

    .with-describe{
        text-align:center;
        font-size:$txt-fontsize;
        color:$txt-fontcolor;

    }


    


    }
    
    

