body .hire {
  height: 490px;
  background-color: #FFF; }

body .withus {
  height: 200px; }

body .with-txt {
  height: 200px; }

body .touch-btn {
  height: 50px; }

body .withus-title {
  text-align: center;
  font-size: 38px;
  color: #506a85;
  line-height: 200px; }

body .with-describe {
  text-align: center;
  font-size: 19px;
  color: #73879c; }

