

body {

 

        .main{
            background-image: url('../images/main/main-background.png');
            height:880px;
        }

        .madefor{
            text-align:center;
            color:#FFF;
            font-size:78px;
            margin-top:280px;
        }

        .creat-txt{
            left:80px;
        }
        .creat{
            text-align:center;
            color:#888;
            font-size:24px;
        }

        .s-btn{
            margin-top:65px;
        }



}
