body {
    img.logo1{
        margin-top:15px;

    }
    .search{
        margin-top:33px;

    }
    .menu li{
           margin-top:30px;
           float:left;
           list-style-type:none;
           width:100px;
           height:50px;
        }
        .search{
            float:right;
        }





}
